.git
.github
.env
.env.*
!.env.example
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/storage
*.md
.idea
.vscode
.phpunit.cache
.phpunit.result.cache
Dockerfile
docker-compose*.yml
.dockerignore
system-documentation
*.pem
config/*.pem
